﻿
<style>
#myModal {
top:20%;

}
</style>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>帳務報表</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@



    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <div class="x_panel">
                @*<div class="x_title">
                <h2>Plain Page</h2>
                <ul class="nav navbar-right panel_toolbox"></ul>
                <div class="clearfix"></div>

            </div>*@
                <div class="x_content">

                    <div class="row">
                        <div class="col-md-6  hide">
                            <a class="btn btn-default btn-success " href="@Helper.getUrl("Create")" t>建立</a>
                        </div>
                        <div class="col-md-6 text-right hide">
                            <label> 一頁顯示</label>
                            <label>
                                <select class="chosen-select form-control itemPerPage  ">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100" selected="selected">100</option>
                                </select>
                            </label>

                        </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox"></ul>
                </div>

                <div class="main">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="tile color transparent-black" id="list">
                                <div class="tile-widget bg-transparent-black-2">
                                </div>
                                <div class="tile-body nopadding">
                                    <!-- <hr />-->

                                    <div class="form-horizontal row">
                                        <div class="row">

                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-8 col-sm-8 col-xs-8">乘車的開始日期</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search datepicker" name="QSDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-8 col-sm-8 col-xs-8">乘車的結束日期</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search datepicker" name="QEDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-7 col-sm-7 col-xs-7">刷卡結果</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search" name="Stage" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-7 col-sm-7 col-xs-7">車隊</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search" name="Carteam" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-1 ">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonSearch" t="">搜尋</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr />
                                    <div id="tbData" class="table-responsive" style="max-height:320px;">

                                        <table class="list table table-striped jambo_table">

                                            <thead>
                                                <tr>
                                                    @*(I→回國/O→出國)*@
                                                    <th class="sortable sort-alpha" orderfield="" style="width:30px">
                                                        <!--<input id="allvalue" name="dno" class="rowCheckbox" value="" type="checkbox" onclick="checkALLItem(this)">-->
                                                        <!--<label class="btn btn-xs btn-primary"><input name="clickAll" id="clickAll" type="checkbox"> 全選</label>-->
                                                    </th>
                                                    <th class="sortable sort-alpha" orderfield="rno" style="">訂單編號</th>
                                                    <th class="sortable sort-alpha" orderfield="cp" t="">車隊</th>
                                                    <th class="sortable sort-alpha" orderfield="money" t="">應收帳款 </th>
                                                    <th class="sortable sort-alpha" orderfield="ramt" t="">實收帳款 </th>
                                                    <th class="sortable sort-alpha" orderfield="stage" t="">刷卡結果 </th>
                                                    <th class="sortable sort-alpha" orderfield="tdate" t="">乘車日期  </th>

                                                    <th style="width:60px"></th>
                                                    <th style="width:60px"></th>
                                                </tr>
                                            </thead>
                                            <thead>
                                                <!-- <tr class="hide ">
                                             <th>
                                                 <input class="form-control " name="QSDate" type="text">
                                             </th>
                                             <th>
                                                 <button type="button" class="btn btn-default btn-xs buttonSearch" t="">搜尋</button>

                                             </th>
                                         </tr>-->
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /tile body -->
                                <!-- tile footer -->
                                <div class="row ">
                                    <div class="col-sm-6">

                                        <ul class="pagination pagination-xs nomargin pagination-custom pageFrame"><li class="active" onclick="setPage('list', 1)"><a>1</a></li></ul>
                                    </div>

                                    <div class="col-sm-4 text-center hide">
                                        <small class="inline table-options paging-info">showing page <span class="currentPage">1</span> of <span class="totalItem">1</span> items</small>
                                    </div>

                                    <div class="col-sm-6 text-right sm-center">
                                        <div class="input-group table-options pull-right">
                                            <input class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" placeholder="go to page..">
                                            <span class="input-group-btn pull-left">
                                                <button type="button" class="btn btn-primary buttonGoToPage" t="">GO</button>
                                            </span>
                                        </div>
                                        <!--<div class="input-group table-options pull-right">
                                            <input id="amt" name="amt" class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" type="text" onkeyup="return ValidateNumber(this,value)">
                                            <span class="input-group-btn pull-left">
                                                <button type="button" class="btn btn-primary buttonGoPay" style="background-color: #3c763d;" onclick="gopay()">退款</button>
                                            </span>
                                        </div> -->
                                    </div>
                                </div>
                            </section>
                            <div class="input-group table-options pull-right">
                                <label for="fullname" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9"></div>
                                <div class="col-sm-9">
                                    <button type="button" class="btn btn-primary buttonGoPay" onclick="goExcel2()">匯出EXCEL</button>
                                </div>                                
                            </div>
                            <iframe id="fileHolder" hidden></iframe>
                        </div>
                    </div>
                </div>


            </div>
                <div id="dialog" title="Basic dialog">
                    <p></p>
                </div>
            </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width:300px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">退款單號:</h4>
                        <div id='re-sno'></div>
                    </div>
                    <div class="modal-body">
                        <p>請輸入退款金額</p>
                        <input id="amt" name="amt" class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" type="text" onkeyup="return ValidateNumber(this,value)">
                        <p>備註:</p>
                        <textarea id="re-memo"></textarea>
                        <br>
                        <div id='forpay'></div>
                    </div>
                    <div class="modal-footer">
                        <div id='forpay'></div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>

    var markers = {};
    var tmarkers = [];

    var itemData;

    var listData;

    var isClickCheckbox = false;
    var isClickView = false;

    function ValidateNumber(e, pnumber) {
        if (!/^\d+$/.test(pnumber)) {
            e.value = /^\d+/.exec(e.value);
        }
        return false;
    }
    
    function getListHtml(data,page) {
        listData = data;

        var now = (page - 1) * 10;
        var html = '';
        var bindall = "";
        var j = 0;
        j = parseInt(j) + parseInt(now);
        for (var i = j; i < data.length; i++) {
            var x = data[i];

            if (i >= page * 10) {
                break;
            }
            var num = data.length;

            if (i == num)
                bindall = bindall + x['dno'];
            else
                bindall = bindall + x['dno'] + ",";

            html += '<tr >';

            //html += '<td><input name="ReportID" value="' + v(x['ReportID']) + '-' + v(x['ShtNo']) + '" style="vertical-align: middle; margin: 0 auto;" type="checkbox"></td>';
            html += '<td></td>';
            html += '<td>' + v(x['rno']) + '</td>';
            html += '<td>' + v(x['cp']) + '</td>';
            html += '<td>' + v(x['money']) + '</td>';
            html += '<td>' + v(x['ramt']) + '</td>';
            if (v(x['stage']) == "0")
                html += '<td>' + "尚未刷卡" + '</td>';
            else if (v(x['stage']) == "1")
                html += '<td>' + "刷卡成功" + '</td>';
            else if (v(x['stage']) == "X")
                html += '<td>' + "刷卡失敗" + '</td>';
            else
                html += '<td>' + v(x['stage']) + '</td>';

            html += '<td>' + v(x['tdate']) + '</td>';

            //html += '<td><button type="button" class="btn btn-primary buttonGoPay" style="background-color: #3c763d;" onclick="gopay(' + x['rno'] + ', this)">退款</button></td>';
            if (v(x['stage']) != "0")
            {
                html += ' <td><button type="button" class="open-Dialog btn btn-primary buttonGoPay" style="background-color: #3c763d;" data-toggle="modal"  id="' + x['rno'] + '" data-a="' + x['rno'] + '"   onclick="opMy( ' + v(x['rno']) + ')">退款</button></td>';
            }
            else
                html += '<td></td>';
            
            html += '<td><button type="button" class="btn btn-primary buttonGoPay" onclick="wtCreditD(' + x['rno'] + ', this)">刷卡詳情</button></td>';
            //html += '<td><a href="' + getUrl('Item?id=' + x['ReportID']) + '"><img src="' + baseUrl + '/Content/images/icon_search.png"></a></td>';
            //html += '<td>';
            //html += '<a class="btn btn-default btn-success btn-xs update" href="' + baseUrl + '/' + controllerName + '/update?id=' + x['id'] + '" t>Edit</a> ';
            //html += '<button type="button" class="btn btn-danger btn-xs delete" onclick="deleteItem(' + x['ID'] + ', this)" t>刪除</button> ';
            //html += '</td>';

            html += '</tr>';


        }
        $('#allvalue').val(bindall);

        if (html == '') {
            html = '<tr><td colspan="99" class="text-center">搜尋完成, 找不到任何項目</td></tr>';
        }
        return html;

    }

    function opMy(data)
    {
        $('#amt').val(0);
        var sno = $(data).data("a");
        $('#re-sno').html(sno);

        var cp = $(data).data("b");
        if (cp == "0")
            $('#re-cp').html("尚未刷卡");
        else if (cp == "1")
            $('#re-cp').html("刷卡成功");
        else if (cp == "X")
            $('#re-cp').html("刷卡失敗");
        else
            $('#re-cp').html(cp);

       var money = $(data).data("c");
       $('#re-money').html(money);
       $("#re-memo").val("");
       $("#forpay").empty();
       $("#forpay").append('<button type="button" class="btn btn-primary buttonGoPay" style="background-color: #3c763d;" onclick="gopay(' +data + ')">確定</button>');
            // show Modal
            $('#myModal').modal('show');


    }

    function wtCreditD(id, e) {
        var url = baseUrl + '/' + controllerName + '/wtCreditD';
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {
                    ID: id
                },
                success: function (r) {
                    var data = r['data'];
                    var content = "";
                    if (r['data'] != "nodata") {
                        for (var i in data) {
                            var x = data[i];
                            content = content + x['Status'] + " // " + x['Message'] + "\n";
                            //(x['Status'] + " " + x['Message']);
                        }
                        alert(content);
                    }
                    else
                    {
                        alert("nodata");
                    }

                }
            });

    }

    function gopay(id) {
        if ($('#amt').val() != "") {
        if ($('#amt').val() != "0") {

            var Datet = toTimestamp(Date());
            var url = baseUrl + '/Bill/Go2Pay';
            var memotext = $("#re-memo").val();
            //console.log($(id).data("a"));
            if (memotext != "") {
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {
                        paydata: id,
                        DATE: Datet,
                        amt: $('#amt').val(),
                        memo: memotext
                    },
                    success: function (r) {
                        var data = r['data'];
                        var x = data[0];

                        if (x['Message'] == "SUCCESS") {
                            alert("退款成功!!");
                            $("#myModal .close").click()
                            getList();
                        }
                        else {
                            alert(x['Message']);
                            $("#myModal .close").click()
                        }


                    },
                    error: function () {
                        alert("系統錯誤!!");
                        $("#myModal .close").click()
                    }

                });
            }
            else { alert("請輸入備註!!"); }

        }
        else { alert("請輸入退款金額!!"); }
        }
        else { alert("請輸入退款金額!!"); }
    }


    $(function () {

        //init date
        //var currentDate = $.datepicker.formatDate("yy/mm/dd", new Date());

        //$('#RepStarDateTime').val(currentDate);
        //$('#RepEndDateTime').val(currentDate);

        //$('#SignedStarDateTime').val(currentDate);
        //$('#SignedEndDateTime').val(currentDate);

        //init list page
        initListPage();

        //get list when ready
        getList();


    });


    function getList() {

        /*
        var RepStarDateTime = $('#RepStarDateTime').val();
        var RepEndDateTime = $('#RepEndDateTime').val();

        var SignedStarDateTime = $('#SignedStarDateTime').val();
        var SignedEndDateTime = $('#SignedEndDateTime').val();

        RepStarDateTime = $.trim(RepStarDateTime);
        RepEndDateTime = $.trim(RepEndDateTime);
        SignedStarDateTime = $.trim(SignedStarDateTime);
        SignedEndDateTime = $.trim(SignedEndDateTime);


        if ((RepStarDateTime == '' && RepEndDateTime == '') && (SignedStarDateTime == '' && SignedEndDateTime == '')) {
            alert('查詢至少要有報告日期或簽章日期其中一項喔');
            return;
        }
        */

        //init sheetTypes

        var sheetTypes = '';

        $('.sheetTypes:checked').each(function () {

            sheetTypes += $(this).val() + ',';
        });

        $('#sheetTypes').val(sheetTypes);

        beforeGetList(listContainerID);


        var searchParameters = $('#' + listContainerID).find('.search').serialize();

        if (typeof (listCondition[listContainerID]) == 'undefined') {
            //url = baseUrl + '/' + controllerName + '/getList';

            url = getUrl('GetList');
        } else {
            url = listCondition[listContainerID]['getListUrl'];
        }

        var currentPage = listCondition[listContainerID]['currentPage'];
        var orderField = listCondition[listContainerID]['orderField'];
        var orderType = listCondition[listContainerID]['orderType'];
        var itemPerPage = $('#' + listContainerID).find('.itemPerPage').val();


        var searchJson = getJsonString(listContainerID, 'search');

        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {
                page: currentPage,
                orderField: orderField,
                orderType: orderType,
                itemPerPage: itemPerPage,
                searchJson: searchJson
            },
            success: getListRespond
        });

    }

    function toTimestamp(strDate) {
        var datum = Date.parse(strDate);
        return datum / 1000;
    }

   /* function goExcel() {

        var searchJson = getJsonString(listContainerID, 'search');

        $.ajax({
            url: "Bill/SendFile",
            type: 'post',

            data: {
                searchJson: searchJson
            },
            success: function (returnValue) {
                window.location = '/Reports/Download?file=' + returnValue;
            }, error: function (xhr, ajaxOptions, thrownError) {
                alert("myFunction  error!!" + xhr.status + " / " + thrownError);
            }
        });
        //   var blob = new Blob([document.getElementById('tbData').innerHTML], {
        //       type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        //   });
        //   var strFile = "Report.xls";
        //   saveAs(blob, strFile);
        //   return false;

    }*/

    function goExcel2(){
        var searchJson = getJsonString(listContainerID, 'search');
        $.ajax({
            url: "@Url.Action("CreateExcel")",
            async: true,
        type: "POST",
        traditional: true,
        cache: false,
        data: {
            searchJson: searchJson
        },
        success: function (reportHeader) {
            $("#fileHolder")
                .attr('src',
                '@Url.Action("ExcelResult")?reportHeader=' +
                reportHeader);
        }
    });
    }   

</script>
