﻿<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
        <div class="count">2500</div>
        <span class="count_bottom"><i class="green">4% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Total Order</span>
        <div class="count">@ViewBag.Oc</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        -<span class="count_top"><i class="fa fa-user"></i> Total Dispatch</span>
        <div class="count green">@ViewBag.Dc</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <!--<span class="count_top"><i class="fa fa-user"></i> Total Females</span>
        <div class="count">4,567</div>
        <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>-->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
       <!-- <span class="count_top"><i class="fa fa-user"></i> Total Collections</span>
        <div class="count">2,315</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <!--<span class="count_top"><i class="fa fa-user"></i> Total Connections</span>
        <div class="count">7,325</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
    </div>
</div>
<!-- /top tiles -->
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>待派遣訂單</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <table id="jqGrid"></table>
                    <div id="jqGridPager"></div>
                    <label for="lblName" style="vertical-align: middle">更新時間</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
            <div class="x_title">
                <h2>待交易訂單</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <table id="jqGrid2"></table>
                    <div id="jqGridPager2"></div>
                    <label for="lblName2" style="vertical-align: middle">更新時間</label>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>三日內派遣資料</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <table id="jqGrid3"></table>
                    <div id="jqGridPager3"></div>
                    <label for="lblName3" style="vertical-align: middle">更新時間</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>24小時內新增訂單</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <table id="jqGrid4"></table>
                    <div id="jqGridPager4"></div>
                    <label for="lblName4" style="vertical-align: middle">更新時間</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="x_panel  tile fixed_height_320">
            <div class="x_title">
                 <h2>待服務清單</h2>
                 <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                 <div class="clearfix"></div>
            </div>
            <div class="x_content">
                        <div class="row">
                            <table id="jqGrid5"></table>
                            <div id="jqGridPager5"></div>
                            <label for="lblName5" style="vertical-align: middle">更新時間</label>
                        </div>
                    </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="x_panel  tile fixed_height_320">
            <div class="x_title">
                <h2>媒合異常訂單</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <table id="jqGrid6"></table>
                    <div id="jqGridPager6"></div>
                    <label for="lblName6" style="vertical-align: middle">更新時間</label>
                </div>
            </div>
        </div>
    </div>
</div>


 <!-- FastClick -->
<script src="~/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="~/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="~/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="~/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="~/vendors/Flot/jquery.flot.js"></script>
<script src="~/vendors/Flot/jquery.flot.pie.js"></script>
<script src="~/vendors/Flot/jquery.flot.time.js"></script>
<script src="~/vendors/Flot/jquery.flot.stack.js"></script>
<script src="~/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="~/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="~/vendors/moment/min/moment.min.js"></script>
<script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="https://cdn.jsdelivr.net/jqgrid/4.6.0/i18n/grid.locale-en.js"></script>
<script src="https://cdn.jsdelivr.net/jqgrid/4.6.0/jquery.jqGrid.min.js"></script>
<link href="https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/jqgrid/4.6.0/css/ui.jqgrid.css" rel="stylesheet" />
<script>
        var myGrid = $('#jqGrid');
        myGrid.jqGrid({
            autowidth: true,
            shrinkToFit: false,
            url: '/Dashboard/GetList/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'POST',
            colNames: ['訂單編號', '出國/回國', '車輛型號', '搭乘時間'],
            colModel: [
                { name: 'dno', key: true, width: 100 },
                { name: 'st', key: true, width: 100 },
                { name: 'cp', key: true, width: 100 },
                { name: 'td', key: true, width: 100 }
            ],
            pager: '#jqGridPager',
            gridview: true,
            rownumbers: true,
            pagerpos: 'center'
        });
        $("#jqGrid").jqGrid("navGrid", "#jqGridPager", {
            add: false, edit: false, del: false, search: false, refresh: true, afterRefresh: function () {
                var d = new Date();
                var n = d.toTimeString();
                $("label[for='lblName']").text("更新時間: " + n);
            }
        });
        var myGrid2 = $('#jqGrid2');
        myGrid2.jqGrid({
            autowidth: true,
            shrinkToFit: false,
            url: '/Dashboard/GetList2/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'POST',
            colNames: ['單號', '日期', '客戶', '金額'],
            colModel: [
                { name: 'rno', key: true, width: 75 },
                { name: 'td', key: true, width: 75 },
                { name: 'name', key: true, width: 75 },
                { name: 'money', key: true, width: 75 }
            ],
            pager: '#jqGridPager2',
            gridview: true,
            rownumbers: true,
            pagerpos: 'center'
        });
        $("#jqGrid2").jqGrid("navGrid", "#jqGridPager2", {
            add: false, edit: false, del: false, search: false, refresh: true, afterRefresh: function () {
                var d = new Date();
                var n = d.toTimeString();
                $("label[for='lblName2']").text("更新時間: " + n);
            }
        });
        var myGrid3 = $('#jqGrid3');
        myGrid3.jqGrid({
            autowidth: true,
            shrinkToFit: false,
            url: '/Dashboard/GetList3/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'POST',
            colNames: ['訂單編號', '出國/回國', '車隊', '搭乘時間', '派遣日期', '車號', '派遣狀態', '司機'],
            colModel: [
                { name: 'dno', key: true, width: 60 },
                { name: 'st', key: true, width: 60 },
                { name: 'cp', key: true, width: 60 },
                { name: 'td', key: true, width: 60 },
                { name: 'fs', key: true, width: 60 },
                { name: 'cn', key: true, width: 60 },
                { name: 'sr', key: true, width: 60 },
                { name: 'dn', key: true, width: 60 }
            ],
            pager: '#jqGridPager3',
            gridview: true,
            rownumbers: true,
            pagerpos: 'center'
        });
        $("#jqGrid3").jqGrid("navGrid", "#jqGridPager3", {
            add: false, edit: false, del: false, search: false, refresh: true, afterRefresh: function () {
                var d = new Date();
                var n = d.toTimeString();
                $("label[for='lblName3']").text("更新時間: " + n);
            }
        });
        var myGrid4 = $('#jqGrid4');
        myGrid4.jqGrid({
            autowidth: true,
            shrinkToFit: false,
            url: '/Dashboard/GetList4/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'POST',
            colNames: ['單號', '會員ID', '姓名', '出/回國', '搭乘日期', '時段', '航班', '航廈', '搭乘地址'],
            colModel: [
                { name: 'rno', key: true, width: 75 },
                { name: 'uid', key: true, width: 75 },
                { name: 'name', key: true, width: 75 },
                { name: 'st', key: true, width: 50 },
                { name: 'td', key: true, width: 75 },
                { name: 'ts', key: true, width: 60 },
                { name: 'fn', key: true, width: 60 },
                { name: 'at', key: true, width: 75 },
                { name: 'ad', key: true, width: 200 }
            ],
            pager: '#jqGridPager4',
            gridview: true,
            rownumbers: true,
            pagerpos: 'center'
        });
        $("#jqGrid4").jqGrid("navGrid", "#jqGridPager4", {
            add: false, edit: false, del: false, search: false, refresh: true, afterRefresh: function () {
                var d = new Date();
                var n = d.toTimeString();
                $("label[for='lblName4']").text("更新時間: " + n);
            }
        });
        var myGrid5 = $('#jqGrid5');
        myGrid5.jqGrid({
            autowidth: true,
            shrinkToFit: false,
            url: '/Dashboard/GetList5/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'POST',
            colNames: ['單號', '會員ID', '姓名', '出/回國', '搭乘日期', '時段', '航班', '航廈', '搭乘地址'],
            colModel: [
                { name: 'rno', key: true, width: 80 },
                { name: 'uid', key: true, width: 80 },
                { name: 'name', key: true, width: 75 },
                { name: 'st', key: true, width: 50 },
                { name: 'td', key: true, width: 75 },
                { name: 'ts', key: true, width: 60 },
                { name: 'fn', key: true, width: 60 },
                { name: 'at', key: true, width: 75 },
                { name: 'ad', key: true, width: 200 }
            ],
            pager: '#jqGridPager5',
            gridview: true,
            rownumbers: true,
            pagerpos: 'center'
        });
        $("#jqGrid5").jqGrid("navGrid", "#jqGridPager5", {
            add: false, edit: false, del: false, search: false, refresh: true, afterRefresh: function () {
                var d = new Date();
                var n = d.toTimeString();
                $("label[for='lblName5']").text("更新時間: " + n);
            }
        });
        var myGrid6 = $('#jqGrid6');
        myGrid6.jqGrid({
            autowidth: true,
            shrinkToFit: false,
            url: '/Dashboard/GetList6/',
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            mtype: 'POST',
            colNames: ['單號', '姓名', '搭乘日期', '時段', '電話'],
            colModel: [
                { name: 'rno', key: true, width: 80 },
                { name: 'name', key: true, width: 75 },
                { name: 'td', key: true, width: 50 },
                { name: 'ts', key: true, width: 75 },
                { name: 'phone', key: true, width: 60 }
            ],
            pager: '#jqGridPager6',
            gridview: true,
            rownumbers: true,
            pagerpos: 'center'
        });
        $("#jqGrid6").jqGrid("navGrid", "#jqGridPager6", {
            add: false, edit: false, del: false, search: false, refresh: true, afterRefresh: function () {
                var d = new Date();
                var n = d.toTimeString();
                $("label[for='lblName6']").text("更新時間: " + n);
            }
        });

    /*
     新統計資料取資料Function
    */
    //取得前六個月到後三個月每月的趟次數量
        function GetMonthDispatch() {
          
            url = getUrl('GetMonthlyDispatch');           
          
                $.ajax({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    data: {                       
                    },
                    success: function (r) {
                        var message = r['message'];
                        var data = r['data'];
                        if (message == "Success") {
                            // 執行成功 資料放在 data
                            
                        }
                        else {                            
                            //執行失敗
                        }
                    },
                    error: function () {
                        alert("系統錯誤!!");
                    }
                });        
        }
        // 取指定日期後30天內每日的車趟
        function GetDailyDispatch() {

            url = getUrl('GetDailyDispatch');

            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {
                    sDate: /*指定日期的變數 格式yyyy-MM-dd*/ 
                },
                success: function (r) {
                    var message = r['message'];
                    var data = r['data'];
                    if (message == "Success") {
                        // 執行成功 資料放在 data

                    }
                    else {
                        //執行失敗
                    }
                },
                error: function () {
                    alert("系統錯誤!!");
                }
            });
        }
    // 取三個月內的每月新增訂單數量
        function GetMonthlyOrder() {
          
            url = getUrl('GetMonthlyOrder');           
          
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {                       
                },
                success: function (r) {
                    var message = r['message'];
                    var data = r['data'];
                    if (message == "Success") {
                        // 執行成功 資料放在 data
                            
                    }
                    else {                            
                        //執行失敗
                    }
                },
                error: function () {
                    alert("系統錯誤!!");
                }
            });        
        }
</script>