.pageSearch {
    font-size: 12px;
}

a {
    cursor: pointer;
}

.modal-dialog {
    width: 90%;
}

.hide {
    display: none;
}


table.bitty thead tr:first-child {
    /*background: rgba(52, 73, 94, 0.94) none repeat scroll 0 0;*/
    /*color: #ecf0f1;*/
}

.pagination {
    margin: 0;
}

table.jambo_table thead:nth-child(2) {
    background: #e9e9e9;
}

table.jambo_table th:first-child, table.jambo_table td:first-child {
    text-align: center;
}


.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

    .ttil{
        background-color:#336600 !important;
    }
.child {
    background-color:#ccff99 !important;
}