﻿
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>訂單管理</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Plain Page</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>

                    </div>*@
                <div class="x_content">

                    <div class=" row">
                        <div class="col-md-6  hide">
                            <a class="btn btn-default btn-success " href="@Helper.getUrl("Create")" t>建立</a>
                        </div>
                        <div class="col-md-6 text-right hide">
                            <label> 一頁顯示</label>
                            <label>
                                <select class="chosen-select form-control itemPerPage  ">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100" selected="selected">100</option>
                                </select>
                            </label>

                        </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox"></ul>
                </div>

                <div class="main">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="tile color transparent-black" id="list">
                                <div class="tile-widget bg-transparent-black-2">
                                </div>
                                <div class="tile-body nopadding">
                                    <hr />

                                    <div class="form-horizontal row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">派車的開始日期</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input id="QSDate"   class="form-control search datepicker" name="QSDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">派車的結束日期</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input id="QEDate" class="form-control search datepicker" name="QEDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">訂單編號查詢</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search" name="OrderNo" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">會員編號查詢</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search" name="UserID" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">會員手機號碼查詢</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search" name="MobilePhone" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">乘車人手機號碼查詢</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <input class="form-control search" name="PMobilePhone" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">訂單狀態</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <select id="ProcessStage" class="form-control col-md-7 col-xs-12">
                                                        <option value="0">正常</option>
                                                        <option value="1">取消</option>
                                                        <option value="2">計價&取消</option>
                                                        <option value="3">不計價取消</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-3">類型</label>
                                                <div class="col-md-9 col-sm-9 col-xs-9">
                                                    <select id="CarpoolFlag" class="form-control col-md-7 col-xs-12">
                                                        <option value="0">全部</option>
                                                        <option value="P">專接</option>
                                                        <option value="S">共乘</option>
                                                        <option value="V">TaiVAN</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group row ">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonSearch" t="">搜尋</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="table-responsive">

                                        <table class="list table table-striped jambo_table">

                                            <thead>
                                                <tr>
                                                    @*(I→回國/O→出國)*@
                                                    <th class="sortable sort-alpha" orderfield="rno" t="">訂單編號</th>
                                                    <th class="sortable sort-alpha" orderfield="poolflag" t="">專/共</th>
                                                    <th class="sortable sort-alpha" orderfield="van" t="">TaiVAN</th>
                                                    <th class="sortable sort-alpha" orderfield="passname" t="">搭乘資訊</th>
                                                    <th class="sortable sort-alpha" orderfield="sertype" t=""> 出回國</th>
                                                    <th class="sortable sort-alpha" orderfield="tdate" t="">乘車日期</th>
                                                    <th class="sortable sort-alpha" orderfield="timeseg" t="">預約時段</th>
                                                    <th class="sortable sort-alpha" orderfield="Stimeseg" t="">媒合時段</th>
                                                    <th class="sortable sort-alpha" orderfield="pcity" t="">上車城市</th>
                                                    @*<th class="sortable sort-alpha" orderfield="pdistinct" t="">上車區里</th>*@
                                                    <th class="sortable sort-alpha" orderfield="paddress" t="">上車地址</th>
                                                    @*<th class="sortable sort-alpha" orderfield="plat" t="">上車緯度</th>
                                                        <th class="sortable sort-alpha" orderfield="plng" t="">上車經度</th>*@
                                                    <th class="sortable sort-alpha" orderfield="tcity" t="">下車城市</th>
                                                    @*<th class="sortable sort-alpha" orderfield="tdistinct" t="">下車區里</th>*@
                                                    <th class="sortable sort-alpha" orderfield="taddress" t="">下車地址</th>
                                                    @*<th class="sortable sort-alpha" orderfield="tlat" t="">下車緯度</th>
                                                        <th class="sortable sort-alpha" orderfield="tlng" t="">下車經度</th>*@
                                                    <th class="sortable sort-alpha" orderfield="pcnt" t="">乘客人數</th>
                                                    <th class="sortable sort-alpha" orderfield="bcnt" t="">行李數量</th>
                                                    <th class="sortable sort-alpha" orderfield="stage" t="">狀態</th>
                                                    <th class="sortable sort-alpha" orderfield="cdatetime" t="">最後異動時間</th>

                                                    <th style="width:60px"></th>

                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr class="hide ">
                                                    <th>
                                                        <input class="form-control " name="QSDate" type="text">
                                                    </th>
                                                    <th>
                                                        <button type="button" class="btn btn-default btn-xs buttonSearch" t="">搜尋</button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /tile body -->
                                <!-- tile footer -->
                                <div class="row ">
                                    <div class="col-sm-6">

                                        <ul class="pagination pagination-xs nomargin pagination-custom pageFrame">
                                            <li class="active" onclick="setPage('list', 1)">
                                                <a>1</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-4 text-center hide">
                                        <small class="inline table-options paging-info">showing page <span class="currentPage">1</span> of <span class="totalItem">1</span> items</small>
                                    </div>

                                    <div class="col-sm-6 text-right sm-center">

                                        <div class="input-group table-options pull-right">
                                            <input class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" placeholder="go to page..">
                                            <span class="input-group-btn pull-left">
                                                <button type="button" class="btn btn-primary buttonGoToPage" t="">GO</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>

    var listData;

    var isClickCheckbox = false;
    var isClickView = false;


    function getListHtml(data, page) {
        listData = data;
        var now = (page - 1) * 10;
        var html = '';
        var j = 0;
        j = parseInt(j) + parseInt(now);
        for (var i = j; i < data.length; i++) {
            var x = data[i];
            if (i >= page * 10) {
                break;
            }
            var num = data.length;



            html += '<tr >';

            //html += '<td><input name="ReportID" value="' + v(x['ReportID']) + '-' + v(x['ShtNo']) + '" style="vertical-align: middle; margin: 0 auto;" type="checkbox"></td>';
            //html += '<td><input name="ReportID" class="rowCheckbox" value="' + v(x['ReportID']) + '-' + v(x['SignStatus']) + '"   style="vertical-align: middle; margin: 0 auto;" type="checkbox"></td>';

            html += '<td>' + v(x['rno']) + '</td>';
            if (v(x['poolflag']) == "P") //專接共乘
                html += '<td>' + "專接" + '</td>';
            else if (v(x['poolflag']) == "S")
                html += '<td>' + "共乘" + '</td>';
            else if (v(x['poolflag']) == "V")
                html += '<td>' + "TaiVAN" + '</td>';

            html += '<td>' + v(x['van']) + '</td>';

            html += '<td>' + '<p">' + v(x['passname']) + "<br>" + v(x['uidname']) + '</p>' + '</td>';
            if (v(x['sertype']) == "I")
                html += '<td>' + "回國" + '</td>';
            else
                html += '<td>' + "出國" + '</td>';
            html += '<td>' + v(x['tdate']) + '</td>';
            html += '<td>' + v(x['timeseg']) + '</td>';
            html += '<td>' + v(x['Stimeseg']) + '</td>';
            html += '<td>' + v(x['pcity']) + '</td>';
            //   html += '<td>' + v(x['pdistinct']) + '</td>';
            html += '<td>' + v(x['paddress']) + '</td>';
            //html += '<td>' + v(x['plat']) + '</td>';
            //html += '<td>' + v(x['plng']) + '</td>';
            html += '<td>' + v(x['tcity']) + '</td>';
            //  html += '<td>' + v(x['tdistinct']) + '</td>';
            html += '<td>' + v(x['taddress']) + '</td>';
            //html += '<td>' + v(x['tlat']) + '</td>';
            //html += '<td>' + v(x['tlng']) + '</td>';
            html += '<td>' + v(x['pcnt']) + '</td>';
            html += '<td>' + v(x['bcnt']) + '</td>';
            if (v(x['stage']) == "0")
                html += '<td>' + "新增" + '</td>';
            else if (v(x['stage']) == "X")
                html += '<td>' + "取消" + '</td>';
            else if (v(x['stage']) == "A")
                html += '<td>' + "已媒合" + '</td>';
            else if (v(x['stage']) == "B")
                html += '<td>' + "媒合中" + '</td>';
            else if (v(x['stage']) == "C")
                html += '<td>' + "帳務處理中" + '</td>';
            else if (v(x['stage']) == "Z")
                html += '<td>' + "已結帳" + '</td>';
            else if (v(x['stage']) == "W")
                html += '<td>' + "不計價取消" + '</td>';
            else if (v(x['stage']) == "Y")
                html += '<td>' + "計價&取消" + '</td>';
            else
                html += '<td>' + " 未知" + '</td>';
            html += '<td>' + v(x['cdatetime']) + '</td>';

            html += '<td><a href="' + getUrl('Item?id=' + x['rno']) + '" class="btn btn-xs btn-primary">詳情</a></td>';
            //html += '<td><a href="' + getUrl('Item?id=' + x['ReportID']) + '"><img src="' + baseUrl + '/Content/images/icon_search.png"></a></td>';
            //html += '<td>';
            //html += '<a class="btn btn-default btn-success btn-xs update" href="' + baseUrl + '/' + controllerName + '/update?id=' + x['id'] + '" t>Edit</a> ';
            //html += '<button type="button" class="btn btn-danger btn-xs delete" onclick="deleteItem(' + x['ID'] + ', this)" t>刪除</button> ';
            //html += '</td>';

            html += '</tr>';

        }

        if (html == '') {
            html = '<tr><td colspan="99" class="text-center">搜尋完成, 找不到任何項目</td></tr>';
        }
        return html;

    }

    $(function () {

        //init date
        //var currentDate = $.datepicker.formatDate("yy/mm/dd", new Date());

        //$('#RepStarDateTime').val(currentDate);
        //$('#RepEndDateTime').val(currentDate);

        //$('#SignedStarDateTime').val(currentDate);
        //$('#SignedEndDateTime').val(currentDate);
        var date = new Date();
        var newdate = new Date(date);

        newdate.setDate(newdate.getDate() + 90);

        var dd = newdate.getDate();
        var mm = newdate.getMonth() + 1;
        var y = newdate.getFullYear();

        var someFormattedDate = y + "" + ("0" + mm).slice(-2) + "" + ("0" + dd).slice(-2);

        $('#QEDate').val(someFormattedDate);

        var newsdate = new Date(date);
        newsdate.setDate(newdate.getDate() - 30);

        dd = newsdate.getDate();
        mm = newsdate.getMonth() + 1;
        y = newsdate.getFullYear();

        var someFormattedDate = y + "" + ("0" + mm).slice(-2) + "" + ("0" + dd).slice(-2);
        $('#QSDate').val(someFormattedDate);
        //init list page
        initListPage();

        //get list when ready
        //第一次開先不跑
        //getList();


    });


    function getList() {

        /*
        var RepStarDateTime = $('#RepStarDateTime').val();
        var RepEndDateTime = $('#RepEndDateTime').val();

        var SignedStarDateTime = $('#SignedStarDateTime').val();
        var SignedEndDateTime = $('#SignedEndDateTime').val();

        RepStarDateTime = $.trim(RepStarDateTime);
        RepEndDateTime = $.trim(RepEndDateTime);
        SignedStarDateTime = $.trim(SignedStarDateTime);
        SignedEndDateTime = $.trim(SignedEndDateTime);


        if ((RepStarDateTime == '' && RepEndDateTime == '') && (SignedStarDateTime == '' && SignedEndDateTime == '')) {
            alert('查詢至少要有報告日期或簽章日期其中一項喔');
            return;
        }
        */

        //init sheetTypes

        var sheetTypes = '';

        $('.sheetTypes:checked').each(function () {

            sheetTypes += $(this).val() + ',';
        });

        $('#sheetTypes').val(sheetTypes);

        beforeGetList(listContainerID);


        var searchParameters = $('#' + listContainerID).find('.search').serialize();

        if (typeof (listCondition[listContainerID]) == 'undefined') {
            //url = baseUrl + '/' + controllerName + '/getList';

            url = getUrl('GetList');
        } else {
            url = listCondition[listContainerID]['getListUrl'];
        }

        var currentPage = listCondition[listContainerID]['currentPage'];
        var orderField = listCondition[listContainerID]['orderField'];
        var orderType = listCondition[listContainerID]['orderType'];
        var itemPerPage = $('#' + listContainerID).find('.itemPerPage').val();


        var searchJson = getJsonString(listContainerID, 'search');
        var ProcessStage = $('#ProcessStage').val();
        var CarpoolFlag = $('#CarpoolFlag').val();

        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {
                page: currentPage,
                ProcessStage: ProcessStage,
                CarpoolFlag: CarpoolFlag,
                searchJson: searchJson,
                orderField: orderField,
                orderType: orderType,
                itemPerPage: itemPerPage

            },
            success: getListRespond
        });

    }






</script>