﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3></h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@



    <div class="clearfix"></div>
    <div>
        <h3>刷卡明細</h3>

    </div>
    <div id="showCard" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Plain Page</h2>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>

                    </div>*@
                <div class="x_content">

                    <div class="row">
                        <div class="col-md-6  hide">
                            <a class="btn btn-default btn-success " href="@Helper.getUrl("Create")" t>建立</a>
                        </div>
                        <div class="col-md-6 text-right hide">
                            <label> 一頁顯示</label>
                            <label>
                                <select class="chosen-select form-control itemPerPage  ">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100" selected="selected">100</option>
                                </select>
                            </label>

                        </div>
                    </div>
                    <ul class="nav navbar-right panel_toolbox"></ul>
                </div>

                <div class="main">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="tile color transparent-black" id="list">
                                <div class="tile-widget bg-transparent-black-2">
                                </div>
                                <div class="tile-body nopadding">
                                    <!-- <hr />-->

                                    <div class="form-horizontal row">
                                        <div class="row">

                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-8 col-sm-8 col-xs-8">乘車的開始日期</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search datepicker" name="QSDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-8 col-sm-8 col-xs-8">乘車的結束日期</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search datepicker" name="QEDate" type="text" value="">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-7 col-sm-7 col-xs-7">車隊</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search" name="Carteam" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group col-md-2">
                                                <label class="control-label col-md-7 col-sm-7 col-xs-7">服務結果</label>
                                                <div class="col-md-8 col-sm-8 col-xs-8">
                                                    <input class="form-control search" name="stage" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group col-md-1 ">
                                                <label for="fullname" class="col-sm-3 control-label"></label>
                                                <div class="col-sm-9">
                                                    <button type="button" class="btn btn-primary buttonSearch" t="">搜尋</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <hr />
                                    <div class="table-responsive" style="max-height:450px;">

                                        <table class="list table table-striped jambo_table">

                                            <thead>
                                                <tr>
                                                    @*(I→回國/O→出國)*@
                                                    <th class="sortable sort-alpha" orderfield="" style="width:30px">
                                                        <!--<input id="allvalue" name="dno" class="rowCheckbox" value="" type="checkbox" onclick="checkALLItem(this)">-->
                                                        <!--<label class="btn btn-xs btn-primary"><input name="clickAll" id="clickAll" type="checkbox"> 全選</label>-->
                                                    </th>
                                                    <th class="sortable sort-alpha" orderfield="rno" style="">訂單編號</th>
                                                    <th class="sortable sort-alpha" orderfield="poolflag" style="">種類</th>
                                                    <th class="sortable sort-alpha" orderfield="uid" style="">會員編號</th>
                                                    <th class="sortable sort-alpha" orderfield="st" t="">出國/回國</th>
                                                    <th class="sortable sort-alpha" orderfield="sr" t="">服務結果 </th>
                                                    <th class="sortable sort-alpha" orderfield="td" t="">乘車日期</th>
                                                    <th class="sortable sort-alpha" orderfield="pct" t="">乘車人數</th>
                                                    <th class="sortable sort-alpha" orderfield="Apct" t="">總乘車人數</th>
                                                    <th class="sortable sort-alpha" orderfield="bct" t="">行李件數</th>
                                                    <th class="sortable sort-alpha" orderfield="abct" t="">臨加行李</th>
                                                    <th class="sortable sort-alpha" orderfield="abct" t="">折扣方式</th>
                                                    <th class="sortable sort-alpha" orderfield="cpn" t="">優惠碼</th>
                                                    <th class="sortable sort-alpha" orderfield="cpn" t="">發票種類</th>
                                                    <th class="sortable sort-alpha" orderfield="pr" t="">金額</th>
                                                    <th class="sortable sort-alpha" orderfield="stage" t="">刷卡結果 </th>
                                                    <th style="width:60px"></th>
                                                    <th style="width:60px"></th>
                                                </tr>
                                            </thead>
                                            <thead>
                                                <tr class="hide ">
                                                    <th>
                                                        <input class="form-control " name="QSDate" type="text">
                                                    </th>
                                                    <th>
                                                        <button type="button" class="btn btn-default btn-xs buttonSearch" t="">搜尋</button>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /tile body -->
                                <!-- tile footer -->
                                <div class="row ">
                                    <div class="col-sm-6">

                                        <ul class="pagination pagination-xs nomargin pagination-custom pageFrame"><li class="active" onclick="setPage('list', 1)"><a>1</a></li></ul>
                                    </div>

                                    <div class="col-sm-4 text-center hide">
                                        <small class="inline table-options paging-info">showing page <span class="currentPage">1</span> of <span class="totalItem">1</span> items</small>
                                    </div>

                                    <div class="col-sm-6 text-right sm-center">

                                        <div class="input-group table-options pull-right">
                                            <input class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" placeholder="go to page..">
                                            <span class="input-group-btn pull-left">
                                                <button type="button" class="btn btn-primary buttonGoToPage" t="">GO</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="input-group table-options pull-right">
                                <label for="fullname" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">

                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog" style="width:400px">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">刷卡</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h5><b>原金額刷卡</b></h5>
                                                <p id="gopay1"></p>
                                            </div>
                                            <div class="col-md-4 col-md-offset-4">
                                                <h5><b>和項刷卡</b></h5>
                                                <p>請輸入金額</p>
                                                <input id="Camt" name="Camt" class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" type="text" onkeyup="return ValidateNumber(this,value)">
                                                <br />
                                                <br />
                                                <p>備註(*):</p>
                                                <textarea id="re2-memo" style="width:150px"></textarea>
                                                <br />
                                                <p id="goCallcarpay"></p>
                                            </div>
                                        </div>
                                        <hr style="margin-top: 1rem;   margin-bottom: 1rem;    border: 0;    border-top: 1px solid rgba(0,0,0,.1)">
                                        <div class="row">
                                            <h5><b>指定金額刷卡</b></h5>
                                            <p>請輸入金額</p>
                                            <input id="amt" name="amt" class="form-control goToPage" style="min-height:25px;width:100px;font-size:12px;" type="text" onkeyup="return ValidateNumber(this,value)">
                                            <br />
                                            <p>備註(*):</p>
                                            <textarea id="re-memo"></textarea>
                                            <br />
                                            <p id="gopay2"></p>
                                        </div>
                                    </div>
                                    <div id="bindbt" class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>

        var markers = {};
        var tmarkers = [];

        var itemData;

        var listData;

        var isClickCheckbox = false;
        var isClickView = false;

        function getListHtml(data, page) {
            listData = data;
            var now = (page - 1) * 10;
            var j = 0;
            j = parseInt(j) + parseInt(now);
            var html = '';
            var bindall = "";
            for (var i = j; i < data.length; i++) {
                var x = data[i];
                console.log(i);
                if (i >= page * 10) {
                    break;
                }
                var num = data.length;

                if (i == num)
                    bindall = bindall + x['dno'];
                else
                    bindall = bindall + x['dno'] + ",";

                html += '<tr >';

                //html += '<td><input name="ReportID" value="' + v(x['ReportID']) + '-' + v(x['ShtNo']) + '" style="vertical-align: middle; margin: 0 auto;" type="checkbox"></td>';
                // html += '<td><label class="btn btn-xs btn-primary"><input name="rno" class="rowCheckbox" value="' + v(x['rno']) + '" type="checkbox"></label></td>';
                html += '<td class="group' + v(x['rno']) + '"></td>';
                html += '<td>' + v(x['rno']) + '</td>';

                //if (v(x['poolflag']) == "V")
                //    html += '<td>' + v(x['poolflag']) + v(x['van']) + '</td>';
                //else
                html += '<td>' + v(x['poolflag']) + '</td>';

                html += '<td>' + '<p">' + v(x['uid']) + "<br>" + v(x['uidname']) + '</p>' + '</td>';
                // console.log("id= " + v(x['rno']) + ", SR=" + v(x['sr']));
                if (v(x['st']) == "I")
                    html += '<td>' + "回國" + '</td>';
                else
                    html += '<td>' + "出國" + '</td>';
                if (v(x['sr']) == "0")
                    html += '<td>' + "一般" + '</td>';
                else if (v(x['sr']) == "C")
                    html += '<td>' + "服務完成" + '</td>';
                else if (v(x['sr']) == "N")
                    html += '<td>' + "NoShow" + '</td>';
                else if (v(x['sr']) == "F")
                    html += '<td>' + "服務失敗" + '</td>';
                else
                    html += '<td>' + "未知狀態" + '</td>';
                html += '<td>' + v(x['td']) + '</td>';
                html += '<td>' + v(x['pct']) + '</td>';
                html += '<td>' + v(x['Apct']) + '</td>';
                html += '<td>' + v(x['bct']) + '</td>';
                html += '<td>' + v(x['abct']) + '</td>';
                html += '<td>' + v(x['dtype']) + '</td>';
                html += '<td>' + v(x['cpn']) + '</td>';
                html += '<td>' + v(x['eintype']) + '</td>';
                html += '<td>' + v(x['pr']) + '</td>';
                if (v(x['stage']) == "0")
                    html += '<td>' + "尚未刷卡" + '</td>';
                else if (v(x['stage']) == "1")
                    html += '<td>' + "刷卡成功" + '</td>';
                else if (v(x['stage']) == "2")
                    html += '<td>' + "和相刷卡" + '</td>';
                else if (v(x['stage']) == "X")
                    html += '<td>' + "刷卡失敗" + '</td>';
                else
                    html += '<td>' + v(x['stage']) + '</td>';

                var tSNO = v(x['rno']).toString();
                var sno;
                if (tSNO.substring(0, 1) == 'C') {
                    tSNO = tSNO.substr(2, 9);
                    sno = tSNO;
                }
                if (v(x['stage']) != "1") {
                    //console.log(tSNO)
                    //console.log(typeof (tSNO));
                    //console.log(sno);
                    //html += ' <td><button type="button" class="btn btn-primary buttonGoPay"   id="' + x['rno'] + '" data-a="' + x['rno'] + '"  onclick="btn2in1( ' + v(x['rno']) + ')">刷卡</button></td>';
                    html += ' <td><button type="button" class="btn btn-primary buttonGoPay"   id="' + sno + '" data-a="' + sno + '"  onclick="btn2in1(' + tSNO + ')">刷卡</button></td>';
                }
                //html += '<td><button type="button" class="btn btn-primary buttonGoPay" onclick="wtCreditD(' + x['rno'] + ', this)">刷卡詳情</button></td>';
                html += '<td><button type="button" class="btn btn-primary buttonGoPay" onclick="wtCreditD(' + sno + ', this)">刷卡詳情</button></td>';

                html += '</tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ttil">';
                html += ' <th class="sortable sort-alpha"  style="color: white; width:100px;">車資</th>';
                html += ' <th class="sortable sort-alpha" style="color: white;">原始總金額</th>';
                html += ' <th class="sortable sort-alpha"  style="color: white;">優惠金額</th>';
                html += ' <th class="sortable sort-alpha"  style="color: white;">自付金額</th>';
                html += ' <th class="sortable sort-alpha"  style="color: white;">應收總金額</th>';
                html += '</tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ">';
                html += ' <td class="border">' + x['CarFee'] + '</td>';
                html += ' <td rowspan="9"  class="border">' + x['TotalAmt'] + '</td>';
                html += ' <td rowspan="9"  class="border">' + x['PromoteAmt'] + '</td>';
                html += ' <td rowspan="4"  class="border">' + v(x['pr']) + '</td>';
                html += ' <td rowspan="9"  class="border">' + x['OfficialTotalAmt'] + '</td>';
                html += ' </tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ">';
                html += '<td class="ttil"  style="color: white;">夜間加費</td>';
                html += '</tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ">';
                html += '<td  class="border">' + x['NightFee'] + '</td>';
                html += '</tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ">';
                html += '<td class="ttil"  style="color: white;">行李加費</td>';
                html += '</tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ">';
                html += '<td class="border">' + x['BaggageFee'] + '</td>';
                html += '<td rowspan="1" class="ttil"  style="color: white;">請款金額</td>';
                html += '</tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ">';
                html += '<td class="ttil"  style="color: white;">其它加費</td>';
                html += '<td rowspan="4" class="border">' + x['CollectAmt'] + '</td>';
                html += '</tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ">';
                html += '<td  class="border ">' + x['OtherFee'] + '</td>';
                html += '</tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ">';
                html += '<td class="ttil"  style="color: white;">其它銷售</td>';
                html += '</tr>';
                html += ' <tr class="group' + v(x['rno']) + ' ">';
                html += '<td  class="border ">' + x['OtherSaleFee'] + '</td>';
                html += '</tr>';
            }
            $('#allvalue').val(bindall);

            if (html == '') {
                html = '<tr><td colspan="99" class="text-center">搜尋完成, 找不到任何項目</td></tr>';
            }
            return html;

        }


        $(function () {

            //init date
            //var currentDate = $.datepicker.formatDate("yy/mm/dd", new Date());

            //$('#RepStarDateTime').val(currentDate);
            //$('#RepEndDateTime').val(currentDate);

            //$('#SignedStarDateTime').val(currentDate);
            //$('#SignedEndDateTime').val(currentDate);

            //init list page
            initListPage();

            //get list when ready
            getList();

        });

        function btn2in1(id) {
            console.log(JSON.parse(id));
            $('#amt').val(0);
            $("#re-memo").val("");
            $("#gopay1").empty();
            $("#gopay1").append('<button type="button" class="btn btn-primary ordercancel" onclick="gopay(' + id + ')">刷卡</button>');
            $("#goCallcarpay").empty();
            $("#goCallcarpay").append('<button type="button" class="btn btn-primary ordercancel" onclick="goCallcarpay(' + id + ')">刷卡</button>');
            $("#gopay2").empty();
            $("#gopay2").append('<button type="button" class="btn btn-primary ordercancel" onclick="gopay2(' + id + ')">刷卡</button>');
            $('#myModal').modal('show');
        }


        function getList() {
       

            var sheetTypes = '';

            $('.sheetTypes:checked').each(function () {

                sheetTypes += $(this).val() + ',';
            });

            $('#sheetTypes').val(sheetTypes);

            beforeGetList(listContainerID);


            var searchParameters = $('#' + listContainerID).find('.search').serialize();

            if (typeof (listCondition[listContainerID]) == 'undefined') {
                //url = baseUrl + '/' + controllerName + '/getList';

                url = getUrl('GetList');
            } else {
                url = listCondition['list']['getListUrl'];

            }

            var currentPage = listCondition[listContainerID]['currentPage'];
            var orderField = listCondition[listContainerID]['orderField'];
            var orderType = listCondition[listContainerID]['orderType'];
            var itemPerPage = $('#' + listContainerID).find('.itemPerPage').val();


            var searchJson = getJsonString(listContainerID, 'search');

            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {
                    page: currentPage,
                    orderField: orderField,
                    orderType: orderType,
                    itemPerPage: itemPerPage,
                    searchJson: searchJson
                },
                success: getListRespond3
            });

        }

        function toTimestamp(strDate) {
            var datum = Date.parse(strDate);
            return datum / 1000;
        }

        function gopay(id) {
            var Datet = toTimestamp(Date());
            console.log(id);
            $.ajax({
                url: getUrl('Go2Pay'),
                type: 'post',
                dataType: 'json',
                data: {
                    paydata: id,
                    DATE: Datet
                },
                success: function (r) {
                    var data = r['data'];
                    var x = data[0];

                    if (x['Message'] == "SUCCESS") {
                        alert("刷卡成功!!");
                        $("#myModal .close").click()
                        getList();
                    }
                    else {
                        alert(x['Message']);
                    }


                },
                error: function () {
                    alert("系統錯誤!!");
                }

            });

        }


        function goCallcarpay(id) {
            if ($('#Camt').val() != "") {
                if ($('#Camt').val() != "0") {
                    var Datet = toTimestamp(Date());
                    var memotext = $("#re2-memo").val();
                    $.ajax({
                        url: getUrl('Go2Callcarpay'),
                        type: 'post',
                        dataType: 'json',
                        data: {
                            SNO: id,
                            CAMT: $('#Camt').val(),
                            DATE: Datet,
                            memo: memotext
                        },
                        success: function (r) {
                            var data = r['data'];
                            var x = data[0];

                            if (x['Message'] == "SUCCESS") {
                                alert("已記錄!!");
                                $("#myModal .close").click()
                                getList();
                            }
                            else {
                                alert(x['Message']);
                            }


                        },
                        error: function () {
                            alert("系統錯誤!!");
                        }

                    });
                } else { alert("請輸入刷卡金額!!"); }
            } else { alert("請輸入刷卡金額!!"); }
        }

        function gopay2(id) {
            if ($('#amt').val() != "") {
                if ($('#amt').val() != "0") {
                    var Datet = toTimestamp(Date());
                    var memotext = $("#re-memo").val();
                    if (memotext != "") {
                        $.ajax({
                            url: getUrl('Go2Pay2'),
                            type: 'post',
                            dataType: 'json',
                            data: {
                                SNO: id,
                                DATE: Datet,
                                AMT: $('#amt').val(),
                                MEMO: memotext
                            },
                            success: function (r) {
                                var data = r['data'];
                                var x = data[0];

                                if (x['Message'] == "SUCCESS") {
                                    alert("刷卡成功!!");
                                    $("#myModal .close").click()
                                    getList();
                                }
                                else {
                                    alert(x['Message']);
                                }


                            },
                            error: function () {
                                alert("系統錯誤!!");
                            }

                        });
                    }
                    else { alert("請輸入備註!!"); }

                }
                else { alert("請輸入刷卡金額!!"); }
            }
            else { alert("請輸入刷卡金額!!"); }
        }

        function wtCreditD(id, e) {
            var url = baseUrl + '/' + controllerName + '/wtCreditD';
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {
                    ID: id
                },
                success: function (r) {
                    var data = r['data'];
                    var content = "";
                    if (r['data'] != "nodata") {
                        for (var i in data) {
                            var x = data[i];
                            var cno = x['CardNo'];
                            content = content + x['Status'] + " // " + x['Message'] + "\n";
                            //(x['Status'] + " " + x['Message']);
                        }
                        alert(cno + "\n" + content);
                    }
                    else {
                        alert("nodata");
                    }

                }
            });

        }

        function ValidateNumber(e, pnumber) {
            if (!/^\d+$/.test(pnumber)) {
                e.value = /^\d+/.exec(e.value);
            }
            return false;
        }

        function CreateGroup(group_name) {

            // Create Button(Image)
            $('td.' + group_name).prepend("<img class='" + group_name + " button_closed'> ");
            // Add Padding to Data
            $('tr.' + group_name).each(function () {
                var first_td = $(this).children('td').first();
                var padding_left = parseInt($(first_td).css('padding-left'));
                $(first_td).css('padding-left', String(padding_left + 25) + 'px');
            });
            RestoreGroup(group_name);

            // Tie toggle function to the button
            $('img.' + group_name).click(function () {
                ToggleGroup(group_name);
            });
        }

        function ToggleGroup(group_name) {
            ToggleButton($('img.' + group_name));
            RestoreGroup(group_name);
        }

        function RestoreGroup(group_name) {
            if ($('img.' + group_name).hasClass('button_open')) {
                // Open everything
                $('tr.' + group_name).show();

                // Close subgroups that been closed
                $('tr.' + group_name).find('img.button_closed').each(function () {
                    sub_group_name = $(this).attr('class').split(/\s+/)[0];
                    //console.log(sub_group_name);
                    RestoreGroup(sub_group_name);
                });
            }

            if ($('img.' + group_name).hasClass('button_closed')) {
                // Close everything
                $('tr.' + group_name).hide();
            }
        }

        function ToggleButton(button) {
            $(button).toggleClass('button_open');
            $(button).toggleClass('button_closed');
        }

    </script>
    <style>
        .border {
            border-style: solid;
            border-width: 1px;
            border-color: #dee2e6;
        }

        img.button_open {
            content: url('http://code.stephenmorley.org/javascript/collapsible-lists/button-open.png');
            cursor: pointer;
        }

        img.button_closed {
            content: url('http://code.stephenmorley.org/javascript/collapsible-lists/button-closed.png');
            cursor: pointer;
        }
    </style>
