﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>

    @*Bitty*@
    <script>
        var baseUrl = "@Url.Content("~")";
        baseUrl = baseUrl.substr(0, baseUrl.length - 1);
        var controllerName = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';
        var actionName = '@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()';
    </script>
    @*Bitty*@

    @Scripts.Render("~/Content/bitty/main.js")



</head>
<script>


    function pwChange() {
        var url = getUrl('PwChange');

        var username = $('#username').val();
        var password = $('#password').val();
        var passwordN = $('#passwordN').val();
        var passwordC = $('#passwordC').val();
        if (passwordN == passwordC) {
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: {
                    username: username,
                    password: password,
                    passwordN: passwordN
                },
                success: function (r) {

                    if (r.result) {

                        toPage('Index', 'Login');
                    } else {
                        alert('系統錯誤, 請在試一次');
                    }


                }
            });
        }
        else
        {
            alert('確認密碼不符新設定密碼，請在重新確認是否輸入正確!!');
        }

    }

</script>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">

                    <i style="font-size:80px" class="fa fa-pencil-square-o"></i>

                    <form>
                        <h1>Call Car</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" id="username" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" id="password" required="" />
                        </div>
                        <div>
                            新設定密碼:
                            <input type="password" class="form-control" placeholder="Password" id="passwordN" required="" />
                        </div>
                        <div>
                            再次確認新密碼:
                            <input type="password" class="form-control" placeholder="Password" id="passwordC" required="" />
                        </div>
                        <div>
                            <button class="btn btn-default" type="button" onclick="pwChange()">確定</button>
                            @*<a class="reset_pass" href="#">Lost your password?</a>*@
                        </div>

                        <div class="clearfix"></div>

                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>