﻿<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>排班資料</h3>
        </div>

    </div>

    @*<a href="@Helper.getUrl("Index", "Dashboard")">asdsadsadad</a>*@

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                @*<div class="x_title">
                        <h2>Form Design <small>different form elements</small></h2>
                        <ul class="nav navbar-right panel_toolbox">

                        </ul>
                        <div class="clearfix"></div>
                    </div>*@
                <div class="x_content">
                    <br>
                    <form id="form" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                排班編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="ScheduleID" name="ScheduleID" disabled="disabled" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                排班日期
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="ScheduleDate" name="ScheduleDate"  class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                班別
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ShiftType")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                車號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="CarNo" name="CarNo" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                司機編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="DriverID" name="DriverID" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                車隊編號
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="FleetID" name="FleetID" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                車型
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="CarType" name="CarType" class="form-control col-md-7 col-xs-12" type="text">
                            </div>
                        </div>
                       

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-primary ordercancel" onclick="goEdit()">編輯完成</button>
                                <button type="button" class="btn btn-primary goback" onclick="goback()">返回</button>
                                @*<button class="btn btn-primary" type="button">Cancel</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var data = @Html.Raw(ViewBag.dataText);

    function goEdit()
    {
        var ScheduleID =  $('#ScheduleID').val();
        var ScheduleDate =  $('#ScheduleDate').val();
        var CarNo =  $('#CarNo').val();
        var ShiftType =  $('#ShiftType :selected').val();
        var DriverID =  $('#DriverID').val();
        var FleetID =  $('#FleetID').val();
        var CarType =  $('#CarType').val();
        url = getUrl('ItemEdit');
        $.ajax({
            url: url,
            type: 'post',
            dataType: 'json',
            data: {
                ScheduleID : ScheduleID,
                ScheduleDate : ScheduleDate,
                CarNo : CarNo,
                ShiftType : ShiftType,
                DriverID : DriverID,
                FleetID : FleetID,
                CarType : CarType
            },
            success: function (r) {
                var data = r['Message'];

                if (data == "Success")
                {
                    alert("編輯完成!!");
                    goback();
                }
                else
                {
                    alert("錯誤代號:"+data);
                }
            },
            error: function (jqXHR, textStatus,  errorThrown) {
                alert("系統錯誤!!"+jqXHR +" "+ textStatus+" "+  errorThrown);
            }
        });
    }
    function goback() {
        window.location.href = '/Schedule';
    }
</script>