﻿<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>E.M.R. System</title>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="images/myCSS.css" rel="stylesheet" type="text/css">-->
    <!--
    @Styles.Render("~/Content/bootstrap-3.3.7/css/bootstrap.min.css")
    @Styles.Render("~/Content/images/myCSS.css")
    @Styles.Render("~/Content/bootstrap-3.3.7/css/bootstrap.theme.min.css")
    @Scripts.Render("~/Content/js/jquery-1.12.4.min.js")
    @Scripts.Render("~/Content/bootstrap-3.3.7/js/bootstrap.min.js")
    @Scripts.Render("~/js/jquery-1.12.4.min.js")
        -->



    @Styles.Render("~/Content/bootstrap-3.3.7/css/bootstrap.min.css")
    @*@Styles.Render("~/Content/bootstrap-3.3.7/css/bootstrap-theme.min.css")*@


    @Scripts.Render("~/Content/js/jquery-1.12.4.min.js")
    @Scripts.Render("~/Content/bootstrap-3.3.7/js/bootstrap.min.js")

    @Styles.Render("~/Content/images/myCSS.css")


    @Scripts.Render("~/Content/js/jquery.min.js")
    @*Bitty*@
    <script>
        var baseUrl = "@Url.Content("~")";
        baseUrl = baseUrl.substr(0, baseUrl.length - 1);
        var controllerName = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';
        var actionName = '@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString()';
    </script>
    @*Bitty*@

    @Styles.Render("~/Content/bitty/main.css")
    @Scripts.Render("~/Content/bitty/main.js")



</head>

<body class="bg_login">


    @RenderBody()



</body>
</html>
